@import url(./styles/vendor/normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
:root {
    --primary-color: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    background-color: var(--Light-grayish-cyan);
    font-family: 'Space Mono';
    font-weight: 700;
    font-size: 24px;
}

input[type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    display: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    margin: 100px auto;
    width: 87px;
    height: 54px;
    background-image: url(../public/logo.svg);
}

.main {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 45px;
    max-width: 800px;
    justify-content: space-between;
    background-color: var(--White);
    border-radius: 25px;
}
.main__inputs-area {
    width: 50%;
    margin-right: 75px;
    display: flex;
    flex-direction: column;
}
.main__inputs-area_tip-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main__input-area_tip-selection-btn {
    cursor: pointer;
    border: 0;
    height: 50px;
    width: 100px;
    margin-bottom: 25px;
    color: var(--White);
    background-color: var(--Very-dark-cyan);
    border-radius: 5px;
}
.main__input-area_tip-selection-btn:hover {
    color: var(--Very-dark-cyan);
    background-color: var(--Light-grayish-cyan);
    transition: background-color 0.3s linear, color 0.3s linear;
}
.main__input-area_tip-selection-btn-selected {
    background-color: var(--primary-color);
}

.main__input {
    font-size: 22px;
    outline: none;
    text-align: end;
    color: var(--Very-dark-cyan);
    padding: 0 10px;
    margin: 0;
    border: 0;
    height: 50px;
    background-color: var(--Very-light-grayish-cyan);
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 10px;
    margin-bottom: 25px;
}
.main__input:focus {
    outline: 2px solid var(--primary-color);
}
.main__input_type_bill {
    background-image: url(../public/icon-dollar.svg);
}
.main__input_type_tip {
    width: 80px;
}
.main__input-span_type_tip {
    display: none;
}
.main__input_type_people {
    background-image: url(../public/icon-person.svg);
}
.main__input-span {
    color: var(--Dark-grayish-cyan);
    margin-bottom: 10px;
}

.main__result-area {
    min-width: 300px;
    padding: 25px;
    margin-left: 25px;
    background-color: var(--Very-dark-cyan);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.resultRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.resultRow_span-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.resultRow_span-top {
    color: var(--White);
    font-size: 20px;
}
.resultRow_span-bottom {
    color: var(--Dark-grayish-cyan);
    font-size: 12px;
}
.resultRow_result {
    align-self: center;
    text-align: right;
    width: 150px;
    color: var(--primary-color);
    font-size: 28px;
}

.main__result-area_reset-btn {
    margin-top: 180px;
    cursor: pointer;
    border: 0;
    height: 50px;
    color: var(--Very-dark-cyan);
    background-color: var(--primary-color);
    border-radius: 5px;
}

.main__result-area_reset-btn:hover {
    background-color: var(--Light-grayish-cyan);
    transition: background-color 0.3s linear;
}
@media (max-width: 850px) {
    .main {
        flex-direction: column;
    }
    .main__result-area {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .main__inputs-area {
        width: 100%;
    }
    .resultRow {
        margin: 25px 25px 0 25px;
    }
    .main__result-area_reset-btn {
        margin: 100px 25px 25px 25px;
    }
}
